<ion-header>
  <ion-toolbar>
    <ion-title>
          AISA BLE Connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button color="primary" expand="full">Scan</ion-button>
   <ion-list> 
    <ion-button color="secondary" expand="full" style="height: 50px" *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2>{{ device.name }}</h2>
    </ion-button>  
   </ion-list> 
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>
