<ion-header>
  <ion-toolbar>
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="padding">
  
  <!-- <button (click)="sendPredefinedMessage('hellomatebutton')">Press Me</button>
  <button (click)="readMessage()">Press Me</button>
  <button (click)="readMessage1()">Press Me 1</button>
  <button (click)="readMessage2()">Press Me 2</button> -->

<!--
  <ion-card>
    <ion-card-header>
      Services
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let service of peripheral.services">
        {{service}}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Details
    </ion-card-header>
    <ion-card-content>
      <pre>{{peripheral | json }}</pre>
    </ion-card-content>
  </ion-card> -->


  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{stateMessage}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showConnectionStatus">
      <ion-col>
        <p style="color:green; font-size:120%">Connected</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="started">
      <ion-col>
        <p>X</p>
      </ion-col>
      <ion-col>
        <p>Y</p>
      </ion-col>
      <ion-col>
        <p>Z</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="started">
      <ion-col><p class="accelerationP"  id="consoleX">{{acceleration.x}}</p></ion-col>
      <ion-col><p class="accelerationP" id="consoleY"> {{acceleration.y}}</p></ion-col>
      <ion-col><p class="accelerationP" id="consoleZ"> {{acceleration.z}}</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{timeelapsed}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{fps}}</p>
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" *ngIf="buttonState == 'start' && showConnectionStatus" (click)="readMessagesage()">Start</ion-button>
    <ion-button expand="full" *ngIf="buttonState == 'stop'" (click)="saveFile()">Stop</ion-button>
    <ion-button expand="full" *ngIf="!showConnectionStatus && buttonState != 'stop'">
          <ion-spinner duration="5000" name="dots"></ion-spinner>
    </ion-button>
    <!-- <p>{{ statusMessage }}</p> -->
  </ion-toolbar>
</ion-footer>
