<ion-grid>
  <ion-row>
    <ion-col>
      <app-email-button email="giorgostsirakos@hotmail.com" (emailMessenger)="messenger($event)" name="Giorgos Tsirakos"></app-email-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-email-button email="tkonstantinos1996@hotmail.com"  (emailMessenger)="messenger($event)" name="Konstantinos Tsirakos"></app-email-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-email-button (emailMessenger)="messenger($event)" email="tsirakos@hotmail.com"  name="Dimitris Tsirakos"></app-email-button>
    </ion-col>
  </ion-row>
</ion-grid>